<!-- INÍCIO DO CONTEÚDO -->

<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">

    <h2>Sobre</h2>

    <h3 class="lead">
      Dona Farma | Aplicação para Consulta de Produtos da Drogaria Dona Farma de Campo Grande
    </h3>
    <h3 class="lead">
      Contato - (XX) XXXX-XXXX
    </h3>
    <h4 class="lead">Copyright 2019 </h4>
    <h4 class="lead">Desenvolvido por : Alexandre Ribeiro Ferreira</h4>
    <h4 class="lead">Contato do Desenvolvedor : (21) 98588-9919</h4>

  </div>
</section>

<!-- FIM DO CONTEÚDO -->