 <!-- INÍCIO DO CONTEÚDO -->
 <section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
     <h2>Drogaria Dona Farma de Campo Grande</h2>
     <p>
       Está buscando algum produto ou medicamento? Pesquise no nosso site, e compare nossas ofertas.
       Entregamos em toda a região de Campo Grande
     </p>
     <a class="btn btn-primary btn-lg" href="main-restaurants.html">Pesquisar Medicamentos</a>
  </div>

</section>
<!-- FIM DO CONTEÚDO -->