<!-- INÍCIO DO CONTEÚDO -->
<!-- <section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
     <h2>Medicamentos</h2>     
  </div>

</section> -->
<!-- FIM DO CONTEÚDO -->

<!-- INíCIO do CONTEÚDO -->
<section class="content-header">
  <h1>
    Relação dos Tipos de Medicamentos
  </h1>
</section>


<section class="content">

  <div class="row">
          <div class="col-sm-6 col-xs-12">
            <a href="#">
              <div class="place-info-box">
                <span class="place-info-box-icon"><img src="assets/img/medicamentos/medicamento-item.icon.png" /></span>

                <div class="place-info-box-content">
                    <span class="place-info-box-text"></span>   
                  <span class="place-info-box-text">Alergias</span> 
                  <span class="place-info-box-detail">Medicamentos relacionados a alergia.</span>                    
                </div>
                <!-- /.info-box-content -->
              </div>
            </a>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-sm-6 col-xs-12">
              <a href="#">
                <div class="place-info-box">
                  <span class="place-info-box-icon"><img src="assets/img/medicamentos/medicamento-item.icon.png" /></span>
  
                  <div class="place-info-box-content">
                      <span class="place-info-box-text"></span>   
                    <span class="place-info-box-text">Diabetes</span> 
                    <span class="place-info-box-detail">Medicamentos para Diabetes.</span>                    
                  </div>
                  <!-- /.info-box-content -->
                </div>
              </a>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <div class="col-sm-6 col-xs-12">
                <a href="#">
                  <div class="place-info-box">
                    <span class="place-info-box-icon"><img src="assets/img/medicamentos/medicamento-item.icon.png" /></span>
    
                    <div class="place-info-box-content">
                        <span class="place-info-box-text"></span>   
                      <span class="place-info-box-text">Dermatológicos</span> 
                      <span class="place-info-box-detail">Medicamentos dermatológicos.</span>                    
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                </a>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->

              <div class="col-sm-6 col-xs-12">
                  <a href="#">
                    <div class="place-info-box">
                      <span class="place-info-box-icon"><img src="assets/img/medicamentos/medicamento-item.icon.png" /></span>
      
                      <div class="place-info-box-content">
                          <span class="place-info-box-text"></span>   
                        <span class="place-info-box-text">Primeiros Socorros</span> 
                        <span class="place-info-box-detail">Medicamentos de Primeiros Socorros.</span>                    
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                  </a>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-sm-6 col-xs-12">
                    <a href="#">
                      <div class="place-info-box">
                        <span class="place-info-box-icon"><img src="assets/img/medicamentos/medicamento-item.icon.png" /></span>
        
                        <div class="place-info-box-content">
                            <span class="place-info-box-text"></span>   
                          <span class="place-info-box-text">Genéricos</span> 
                          <span class="place-info-box-detail">Medicamentos Genéricos.</span>                    
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                    </a>
                    <!-- /.info-box -->
                  </div>
                  <!-- /.col -->

                  <div class="col-sm-6 col-xs-12">
                      <a href="#">
                        <div class="place-info-box">
                          <span class="place-info-box-icon"><img src="assets/img/medicamentos/medicamento-item.icon.png" /></span>
          
                          <div class="place-info-box-content">
                              <span class="place-info-box-text"></span>   
                            <span class="place-info-box-text">Gripes e Resfriados</span> 
                            <span class="place-info-box-detail">Medicamentos para Gripes e Resfriados.</span>                    
                          </div>
                          <!-- /.info-box-content -->
                        </div>
                      </a>
                      <!-- /.info-box -->
                    </div>
                    <!-- /.col -->

        </div>

</section>

<!-- FIM  do CONTEÚDO -->
